#body {
	padding:0;
	font-family: Nunito Sans;
	background: #FFFFFF;
}
h4 {
	color: #39689C;
	padding: 2%;
}
#balanceDiv {
	padding:1%;
	
}
#balanceDiv h2 {
	color: #333333;
	font-size: 25px;
	
}

#balance {
	border-right: 0.75px solid #828282;

}
#balance h2 {
	margin-bottom: 10%;

}
#balance h3 {
	color: #00aeff;
	width: 60%;
	margin: 0 auto;
	font-size: 30px;

}
#balance #balHolder {
	border: 2px solid #C4C4C4;
	padding: 1%;
}
#balance #balHolder p {
	font-size: 35px;
	color: #333333;
	padding: 2%;
}
#wallet-topUpBtn {
	padding:1%;
}
#wallet-topUpBtn h3 {
	color: #39689C;
	font-size: 25px;
	font-weight: : bold;
}
#wallet-topUpBtn div div {
	width: 80%;
	margin: 1% 0%;
}
#wallet-topUpBtn div {
	padding: 0;
	margin-bottom: 1%;
}
#wallet-topUpBtn button{
	margin-top: 30px;
}
.topUpHeader {
	background: #39689C;
	padding: 1%;
	color: #FFFFFF;
	height: 60px;
}
.topUpHeader h2 {
	font-size: 20px;
	font-weight: bold;
}
.benHeader {
	margin: 0 2% 2% 2%;
	border: 2px solid #C4C4C4;
	border-top:0;
	line-height: 20px;
	color: #333333;
	padding: 1%;
	box-shadow: 1px 2px rgba(0, 0, 0, 0.25);

}
.benHeader h2 {
	font-size: 20px;
	font-family: Nunito Sans;
}
#accordion .card {
	margin: 1%;
}
#accordion .card .card-header {
	background: #39689C;
	border: 1px solid #39689C;
	padding: 0;
	
}
#accordion .card .card-header h5 a {
	color: #FFFFFF;
	display: block;
	padding: 2%;
}
.benName div h4 {
	color: #00aeff;
	margin-top: 40%;
	margin-bottom: 5%;
}
.benName div .history-btn {
	margin-top: 30%;
	width: 100%;
}
.benName h4 >span{
	color: #929292 !important;
	font-size: 20px;
}
/*---------check button styling -------*/
.top-up-btn div div {
	width: 80%;
	margin: 2% -2%;
}
.top-up-btn div {
	padding: 0;
}
.ck-button {
    background-color:#FFFFFF;
    border-radius:4px;
    border:1px solid #cccccc;
    overflow:hidden;
    float:left;
    padding: 0;
    margin: 0;

}
.ck-button label {
    width:100%;
    height: 25px;
}

.ck-button label span {
	text-align:center;
    padding:0px 0px;
    margin: 0;
    height: 35px;
    display:block; 
    margin-bottom: -20%;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}
.ck-button:hover span {
	background: #00aeff;
	color: #FFFFFF;
}
.ck-button label input {
    display: none;
}
.ck-button label input:checked + span{
   background: #39689c;
   color: #FFFFFF;
   font-size: 16x;
}
/*---------------Network radio buttons styling-----------------*/
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 0px;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}
.switch-field label img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width:100%;
}

.switch-field label {
  display: inline-block;
  width: 23%;
  height: 60px;
  background-color: #F1F1F1;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 2%;
  margin: 1%;
  margin-top: -4%
  margin-left: -4%
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label img{
  background-color: #39689c;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----------- styling data buddle buttons------------------*/
#dataTopUp .benHeader {
	color: #39689C;
	font-weight: bold;
	font-family: Nunito Sans
}
.data-bundles {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.data-bundles {

}
.data-bundles input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.data-bundles label {
  float: left;
  text-align: center;
	padding-left: 2%;
	border: :1px solid black;
}
.data-bundles label p {
	margin: 0;
}
.data-buddles label p.data-allocated {
	color: #000000;
}
.data-bundles label p.data-bundle-duration {
	color: #929292;
}
.data-bundles label p.data-amount {
	color: #39689C;
}

.data-bundles label {
  display: inline-block;
  width: 24%;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  line-height: 20px;
  padding: 0%;
  margin: 2%;
  margin-top: -2%
  margin-left: -2%
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.data-bundles label:hover {
    cursor: pointer;
}

.data-bundles input:checked + label p{
  background-color: #0069D9;
  color: #FFFFFF !important;
}
.box {
	display: none;
}
.show-box {
	display: block;
}
/* transaction history modal style */
#transaction-history {
	padding: 0;
	margin: 0;
	width: 100%;
}
#transaction-history  .modal-dialog {
	padding: 0;
	margin: 0;
	width: 100%;
}
#transaction-history  .modal-dialog .modal-content{
	padding: 0;
	margin: 0;
	width: 100%;
}
/*   modal pegination */
.pagination {
	text-align: center;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.pagination ul {
	list-style: none;
	width: 80%;
	margin: 0 auto;
}
.pagination ul li {
	display: inline-block;
	width: 15%;
}
.pagination ul li.active a{
	color: red;
}

@media all 
  and (max-device-width: 765px){
  	#wallet-topUpBtn  {
  		height: auto;
  	}
  	#wallet-topUpBtn div div{
	width: 92%;
	margin: 1% 0% 1% 4%;
	}
	.top-up-btn  {
  		height: auto;
  	}
  	.top-up-btn div div{
	width: 92%;
	margin: 1% 0% 1% 4%;
	}

}


